html, body
{
    height:100%;
    width:100%;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*overflow:hidden;*/
    /*background-color: #FFFFFF;*/
    background-color: white;
}

/* EFFECTS/GENERAL ===========================================================*/
.highlightletter
{
   color:darkred;
}

.flatButton
{
   border-width:0px;
   border-radius:2px;
}

.dismissButton
{
   background-color:#995b5b;
   color:lightgray;
}

.dismissButton:hover
{
   background-color: #c17474;
}

/* CANVASES =============================================================*/
canvas
{
   position:absolute;
}

#canvasContainerId
{
   width:100%;
   height:100%;
}

#drawingCanvasId
{
}

#spokesCanvasId
{
}

#cursorCanvasId
{
   cursor:crosshair;

   /*border-width:1px;
   border-color:lightgray;
   border-style:solid;*/
}

/* MENUS =============================================================*/
#mainMenuId
{
   position: absolute;
   top:4px;
   left:4px;

   list-style-type: none;
   display:inline;

   margin: 0;
   padding: 0;

   background-color: lightgray;

   /*border-style:solid;
   border-color:gray;*/
   /*border-width:2px;*/
   border-radius: 4px;
   z-index: 10;
}

#mainMenuId li
{
   margin:4px 4px 0px 4px;
   padding:0px;
   float:left;
}

#mainMenuId img
{
   padding:0px;
   margin:0px 0px;
   opacity:0.5;
}

#mainMenuId img:hover
{
   opacity:1;
}

/* CONFIGS =============================================================*/
.menu_transparent
{
   display:none;
   opacity:0;
   transition: all 0.5s;
}

.menu_transparent
{
   opacity:1;
   transition: all 0.5s;
}

.configDivClass
{
   position: absolute;
   top:50px;
   left:0px;
   font-size: 0.75em;
   background-color: lightgray;
   padding:5px;
   /*margin: 5px;*/
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   z-index: 10;
}

.configDivClass .dismissButton
{
   position:absolute;
   right:3%;
}

.configDivClass .flatButton
{
   margin:4px;
}

/* FEEDBACK =============================================================*/
#numPetalsSpanId.transparent
{
   opacity:0;
   transition: opacity 1s;
}

#numPetalsSpanId.shown
{
   opacity:1;

   transition: opacity 0.2s;
}

#numPetalsSpanId
{
   font-size: 300%;

   position:relative;
   left:45%;
   top:35%;

   padding:10px 20px 10px 20px;
   border-radius: 10px;

   background-color: darkgray;
}
