html, body
{
    height:100%;
    width:100%;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*overflow:hidden;*/
    /*background-color: #FFFFFF;*/
    background-color: white;
}

/* EFFECTS ================================================================*/
.highlightletter
{
   color:darkred;
}

/* CANVASES =============================================================*/
canvas
{
   position:absolute;
}

#canvasContainerId
{
   width:100%;
   height:100%;
}

#drawingCanvasId
{
}

#spokesCanvasId
{
}

#cursorCanvasId
{
   cursor:crosshair;
}

/* MENUS =============================================================*/
#menuDivId
{
   position: absolute;
   top:0px;
   left:0px;
   background-color: lightgray;
   margin: 0px;
   padding: 2px 4px 2px 2px;
   border-bottom-right-radius: 5px;
   display:inline-block;
   z-index: 10;
   border-style:solid;
   border-color:darkred;
   border-width:0px 2px 2px 0px;
}

#menuDivId > button
{
   padding:0px;
   margin:0px;
   border-width: 0px;
}

#menuDivId > img
{
   padding:0px;
   margin:0px 0px;
   opacity:0.75;
}

#menuDivId > img:hover
{
   opacity:1;
}

/* CONFIGS =============================================================*/
.menu_transparent
{
   display:none;
   opacity:0;
   transition: all 0.5s;
}

.menu_transparent
{
   opacity:1;
   transition: all 0.5s;
}

.configDivClass
{
   position: absolute;
   top:50px;
   left:0px;
   font-size: 0.75em;
   background-color: lightgray;
   padding:5px;
   /*margin: 5px;*/
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   z-index: 10;
}

.configDivClass .dismissButton
{
   position:absolute;
   right:3%;
   border-width: 0px;
   background-color:#995b5b;
   color:lightgray;
}

.configDivClass .dismissButton:hover
{
   background-color: #c17474;
}


.configDivClass > button
{
   border-radius: 2px;
}


/* FEEDBACK =============================================================*/
#numPetalsSpanId.transparent
{
   opacity:0;
   transition: opacity 1s;
}

#numPetalsSpanId.shown
{
   opacity:1;

   transition: opacity 0.2s;
}

#numPetalsSpanId
{
   font-size: 300%;

   position:relative;
   left:45%;
   top:35%;

   padding:10px 20px 10px 20px;
   border-radius: 10px;

   background-color: darkgray;
}
