html, body
{
    height:100%;
    width:100%;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*overflow:hidden;*/
    /*background-color: #FFFFFF;*/
    background-color: white;
}

.pinkBackground
{
   background-color: pink;

   transition: all 30s;
}

#configDivId
{
   position: absolute;
   top:0px;
   left:0px;
   background-color: lightgray;
   padding: 5px;
   margin: 0px 0px 5px 0px;
   border-radius: 0px 0px 10px 0px;
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   display:inline-block;
   z-index: 10;
   opacity: 0.75;
}

canvas
{
   position:absolute;
}

#canvasContainerId
{
   width:100%;
   height:100%;
}

#drawingCanvasId
{
}

#spokesCanvasId
{
}

#cursorCanvasId
{
   cursor:crosshair;
}

#numPetalsSpanId.transparent
{
   opacity:0;
   transition: opacity 1s;
}

#numPetalsSpanId.shown
{
   opacity:1;

   transition: opacity 0.2s;
}

#numPetalsSpanId
{
   font-size: 300%;

   position:relative;
   left:60%;
   top:65%;

   padding:10px 20px 10px 20px;
   border-radius: 10px;

   background-color: darkgray;
}
